<div class="row">
  <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Detail
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-lg-6">
            <table class="table table-vertical" *ngIf="theAdv">
              <tbody>
                <tr>
                  <td>owner</td>
                  <td>{{theAdv.owner}}</td>
                </tr>
                <tr>
                  <td>country</td>
                  <td>{{theAdv.country}}</td>
                </tr>
                <tr>
                  <td>limit</td>
                  <td>{{theAdv.limit}}</td>
                </tr>
                <tr>
                  <td>payment</td>
                  <td>{{theAdv.payment}}</td>
                </tr>
                <tr>
                  <td>message</td>
                  <td>{{theAdv.message}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-6">
            <table class="table table-vertical" *ngIf="theAdv">
              <tbody>
                <tr>
                  <td>crypto</td>
                  <td>{{theAdv.crypto}}</td>
                </tr>
                <tr>
                  <td>fiat</td>
                  <td>{{theAdv.fiat}}</td>
                </tr>
                <tr>
                  <td>price</td>
                  <td>{{theAdv.price}}</td>
                </tr>
                <tr>
                  <td>min_price</td>
                  <td>{{theAdv.min_price}}</td>
                </tr>
                <tr>
                  <td>max_price</td>
                  <td>{{theAdv.max_price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div style="text-align: center" *ngIf="theAdv">
          <span>
            <input type="number" [(ngModel)]="orderinformation.quantity" (ngModelChange)="quantitychange()" placeholder="{{theAdv.crypto}}" size="45">
          </span>
          <span>
            <clr-icon shape="two-way-arrows"></clr-icon>
          </span>
          <span>
            <input type="number" [(ngModel)]="orderinformation.amount" (ngModelChange)="amountchange()" placeholder="{{theAdv.fiat}}" size="45">
          </span>
          <button class="btn btn-sm" [disabled]="disabled" routerLink="/chat" (click)="makeOrder()">deal</button>
        </div>
      </div>
    </div>
  </div>
</div>