
<div class="row">
    <div class="col-lg-12 col-md-24 col-sm-24 col-xs-24">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <clr-datagrid>
                        <clr-dg-column [clrDgSortBy]="idComparator">#</clr-dg-column>
                        <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
                        <clr-dg-column [clrDgField]="'price'" [clrDgSortBy]="quotesComparator">Price</clr-dg-column>
                        <clr-dg-column>Market Cap</clr-dg-column>
                        <clr-dg-column>Volume(24H)</clr-dg-column>
                        <clr-dg-column>Circulating Supply</clr-dg-column>
                        <clr-dg-column>Change(24H)</clr-dg-column>
                        <clr-dg-column>Price Graph(7D)</clr-dg-column>
                        <clr-dg-row *clrDgItems="let crypto of cryptos">
                            <clr-dg-cell>{{crypto.id}}</clr-dg-cell>
                            <clr-dg-cell>{{crypto.name}}</clr-dg-cell>
                            <clr-dg-cell>{{crypto.quotes.USD.price}}</clr-dg-cell>
                            <clr-dg-cell>{{crypto.quotes.USD.market_cap}}</clr-dg-cell>
                            <clr-dg-cell>{{crypto.quotes.USD.volume_24h}}</clr-dg-cell>
                            <clr-dg-cell>{{crypto.circulating_supply}}</clr-dg-cell>
                            <clr-dg-cell id="Text{{0>crypto.quotes.USD.percent_change_24h?1:0}}">{{crypto.quotes.USD.percent_change_24h}}</clr-dg-cell>
                            <clr-dg-cell>
                                <ngx-trend autoDraw="true" autoDrawDuration="3000" autoDrawEasing="ease-out"
                                smooth="true" [data]="[0,2,5,9,5,10,3]" [gradient]="['#2196F3']" 
                                radius="10" strokeWidth="2" strokeLinecap="butt" height="25" width="100">   
                                </ngx-trend>
                            </clr-dg-cell>                 
                        </clr-dg-row>
                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>

