<div style="margin:40px 100px 40px">
    <p>Personal</p>
    <hr style="border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);">

    <div class="row" style="margin:0px 120px 40px">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-10">
            <p>
                <span>
                    <clr-icon style="color:rgb(240, 164, 164)" shape="info-circle"></clr-icon>
                </span>
                Please make sure you use your real identity to do this verification.
                <br> We will protect your personal information.You should have:
                <br> 1.Passport &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2.Driver's license &nbsp; &nbsp; &nbsp; &nbsp; 3.National
                ID Card</p>
        </div>
    </div>
    <hr style="width: 80%; 
    margin: auto ;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);">

    <form [formGroup]="kycForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()" style="margin-top: 30px">
        <div class="row" class="form-group">
            <div class="col-lg-2">
                First Name
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control" formControlName="firstName">
            </div>
        </div>
        <div class="row" class="form-group">
            <div class="col-lg-2">
                Last Name
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control" formControlName="lastName">
            </div>
        </div>
        <!-- <div class="row" class="form-group">
        <div class="col-lg-2">
            Gender
        </div>
        <div class="col-lg-10">
            <div>

                <div class="radio-inline">
                    <input type="radio" name="gender" id="male" class="form-control" formControlName="gender">
                    <label for="male">
                        <strong>Male</strong>
                    </label>
                </div>
                <div class="radio-inline" style="margin-left: 130px">
                    <input type="radio" name="gender" id="female" class="form-control" formControlName="gender">
                    <label for="female">
                        <strong>Female</strong>
                    </label>
                </div>
            </div>
        </div>
    </div> -->
        <div class="row" class="form-group">
            <div class="col-lg-2">
                Country And Territory
            </div>
            <div class="col-lg-6">
                <div class="select">
                    <select class="form-control" formControlName="country">
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" class="form-group" style="margin-bottom: 40px">
            <div class="col-lg-2">
                Passport / ID
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" formControlName="passport">
            </div>
        </div>
    </form>
    <hr style="width: 80%; 
            margin:auto;
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
            <!-- imgs -->
    <form [formGroup]="imgForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()" style="margin-top: 30px">
        <fieldset formGroupName="kycImg">
            <div class="row" class="form-group" style="margin: 40px 0px">
                <div class="col-lg-2">
                    Passport Cover
                </div>
                <div class="col-lg-10">
                    <input type="file" class="form-control" formControlName="passportCover" name="passportCover" id="passportCover" (change)="viewCover($event)"
                        #fileInput>
                    <p>Or you can choose to upload the front of your National ID Document,together with a Note.
                        <br> Make sure your face is clearly visible and that all Identity card details are clearly readable.
                    </p>
                    <div style="border:dashed 1px rgb(230, 225, 225);height: 250px;width: 400px;margin-top: 20px">
                        <img id="previewImg" style="width: 100%;height: 100%" #imgPreview [src]="url1" *ngIf="url1">
                    </div>
                </div>
            </div>

            <hr style="width: 60%;
                margin:auto;
                border: 0;
                height: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);">

            <div class="row" class="form-group" style="margin:40px 0px 40px">
                <div class="col-lg-2">
                    Passport Personal Page
                </div>
                <div class="col-lg-10">
                    <input type="file" class="form-control" formControlName="passportPage" name="passportPage" id="passportPage" (change)="viewPage($event)" #fileInput>
                    <p>Or you can choose to upload the front of your National ID Document,together with a Note.
                        <br> Make sure your face is clearly visible and that all Identity card details are clearly readable.
                    </p>
                    <div style="border:dashed 1px rgb(230, 225, 225);height: 250px;width: 400px;margin-top: 20px">
                        <img id="previewImg" style="width: 100%;height: 100%" #imgPreview [src]="url2" *ngIf="url2">
                    </div>
                </div>
            </div>

            <hr style="width: 60%;
                margin:auto;
                border: 0;
                height: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);">

            <div class="row" class="form-group" style="margin-top: 40px">
                <div class="col-lg-2">
                    Selfie With Photo ID And Note
                </div>
                <div class="col-lg-10">
                    <input type="file" class="form-control" formControlName="photoAndID" name="photoAndID" id="photoAndID" (change)="viewID($event)" #fileInput>
                    <p>Or you can choose to upload the front of your National ID Document,together with a Note.
                        <br> Make sure your face is clearly visible and that all Identity card details are clearly readable.
                    </p>
                    <div style="border:dashed 1px rgb(230, 225, 225);height: 250px;width: 400px;margin-top: 20px">
                        <img id="previewImg" style="width: 100%;height: 100%" #imgPreview [src]="url3" *ngIf="url3">
                    </div>
                    <hr style="width: 60%;
                margin:40px 0px 40px;
                border: 0;
                height: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
                    <button class="btn btn-success" (click)="onSubmit()">Upload</button>
                </div>
            </div>
        </fieldset>
        <!-- <pre>{{kycForm.value|json}}</pre> -->

    </form>
</div>