<div class="main-container">
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a (click)="onStatus('active')" class="nav-link {{status=='active'?'active':''}}">
          Active
        </a>
        <a (click)="onStatus('finished')" class="nav-link {{status=='finished'?'active':''}}">
          Finished
        </a>
      </section>
    </nav>
    <div class="content-area">
      <clr-datagrid *ngIf="status == 'active'">
        <clr-dg-column>OrderID</clr-dg-column>
        <clr-dg-column>Role</clr-dg-column>
        <clr-dg-column>Trader</clr-dg-column>
        <clr-dg-column>Owner</clr-dg-column>
        <clr-dg-column>Crypto</clr-dg-column>
        <clr-dg-column>Amount</clr-dg-column>
        <clr-dg-column>Status</clr-dg-column>
        <clr-dg-row *ngFor="let order of activeOrders">
          <clr-dg-cell>
            <a class="action-item" (click)="onDetail(order)" routerLink="/chat">
              <clr-icon style="color: black;bottom: 8px;left: 6px;" shape="pinboard" class="is-solid"></clr-icon>
            </a>
            {{order._id}}
          </clr-dg-cell>
          <clr-dg-cell style="vertical-align: middle;">{{order.buyer==user.username?'Buyer':'Seller'}}</clr-dg-cell>
          <clr-dg-cell>{{order.buyer==user.username?order.seller:order.buyer}}</clr-dg-cell>
          <clr-dg-cell>{{order.owner}}</clr-dg-cell>
          <clr-dg-cell>{{order.crypto}}</clr-dg-cell>
          <clr-dg-cell>{{order.fiat}} {{order.amount| number : '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell>{{order.finished==1?'Pending Fiat':'Pending Crypto'}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
      <clr-datagrid *ngIf="status == 'finished'">
        <clr-dg-column>OrderID</clr-dg-column>
        <clr-dg-column>Role</clr-dg-column>
        <clr-dg-column>Trader</clr-dg-column>
        <clr-dg-column>Owner</clr-dg-column>
        <clr-dg-column>Crypto</clr-dg-column>
        <clr-dg-column>Amount</clr-dg-column>
        <clr-dg-column>Status</clr-dg-column>
        <clr-dg-row *ngFor="let order of finishedOrders">
          <clr-dg-cell>
            <a class="action-item" (click)="onDetail(order)" routerLink="/chat">
              <clr-icon style="color: black;bottom: 8px;left: 6px;" shape="pinboard" class="is-solid"></clr-icon>
            </a>
            {{order._id}}
          </clr-dg-cell>
          <clr-dg-cell>{{order.buyer==user.username?'Buyer':'Seller'}}</clr-dg-cell>
          <clr-dg-cell>{{order.buyer==user.username?order.seller:order.buyer}}</clr-dg-cell>
          <clr-dg-cell>{{order.owner}}</clr-dg-cell>
          <clr-dg-cell>{{order.crypto}}</clr-dg-cell>
          <clr-dg-cell>{{order.fiat}} {{order.amount| number : '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell>{{order.finished==3?'Pending Rating':'Complete'}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
</div>