<clr-header class="header header-6">
    <div class="branding">
        <a href="#" class="nav-link">
            <span style="background-image: url(../../../images/clarity_logo.svg);
        height: 36px;
        width: 36px;
        margin-right: 11px"></span>
            <span class="title">coinotc.market</span>
        </a>
    </div>



    <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link" routerLink="/">
            <span class="nav-text">Home</span>
        </a>
        <a class="nav-link" routerLink="/orders" *appShowAuthed="true">
            <span class="nav-text">Order List</span>
        </a>
        <a class="nav-link" routerLink="/market">
            <span class="nav-text">Market Data</span>
        </a>
    </div>

    <div class="header-actions" *appShowAuthed="false">
        <a class="nav-link nav-text" routerLink="/register">
            Register
        </a>
        <a class="nav-link nav-text" routerLink="/login">
            Log In
        </a>
    </div>

    <div class="header-actions" *appShowAuthed="true">
        <a class="nav-link nav-text" routerLink="/advertisement" *appShowAuthed="true">
            Create Advertisement
        </a>
        <a class="nav-link nav-text " [routerLink]="[ '/profile', currentUser.username] " routerLinkActive="active ">

            {{ currentUser.username }}
        </a>
        <a class="nav-link nav-text ">
            <clr-icon shape="logout" (click)="logout()"></clr-icon>
        </a>
       
    </div>






</clr-header>