<div class="main-container">
    <div class="content-container" *ngIf="user">
        <nav class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">User Information</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link {{status=='basciInformation'?'active':''}}" (click)="onStatus('basciInformation')">Basic Information</a>
                        </li>
                        <li>
                            <a class="nav-link {{status=='KYC'?'active':''}}" (click)="onStatus('KYC')">KYC</a>
                        </li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">My Advertisements</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link {{status=='advertsAble'?'active':''}}" (click)="getAdvertisement('advertsAble',true)">Able</a>
                        </li>
                        <li>
                            <a class="nav-link {{status=='advertsDisable'?'active':''}}" (click)="getAdvertisement('advertsDisable',false)">Disable</a>
                        </li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tabexample3" type="checkbox">
                    <label for="tabexample3">Follow</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link {{status=='following'?'active':''}}" (click)="getfollow('following',true)">Following</a>
                        </li>
                        <li>
                            <a class="nav-link {{status=='follower'?'active':''}}" (click)="getfollow('follower',false)">Follower</a>
                        </li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tabexample4" type="checkbox">
                    <label for="tabexample4">Settings</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link {{status=='basicSettings'?'active':''}}" (click)="onStatus('basicSettings')">Basic Settings</a>
                        </li>
                        <li>
                            <a class="nav-link {{status=='securitySettings'?'active':''}}" (click)="onStatus('securitySettings')">Security Settings</a>
                        </li>
                    </ul>
                </section>
            </section>
        </nav>
        <div class="content-area">
            <div class="card" *ngIf="status == 'basciInformation'">
                <div class="card-header">
                    {{ profile.username }}
                    <span class="badge badge-success" *ngIf="profile.verifystatus">Verified</span>
                    <span class="badge badge-danger" *ngIf="!profile.verifystatus">Unverified</span>
                </div>
                <div class="card-block">
                    <!-- <button class="btn btn-sm btn-link" *ngIf="profile.verifystatus">Update Verification Documents</button>
                    <button class="btn btn-sm btn-link" *ngIf="!profile.verifystatus">Submit Verification Documents</button> -->
                    email: {{ user.email }}
                    <br> createdAt : {{ user.createdAt | date:'medium'}}
                    <br> orderCount : {{user.orderCount}}
                </div>
            </div>
            <div class="card" *ngIf="status == 'advertsAble'">
                <div class="card-header">
                    Advertisement
                </div>
                <div class="card-block">
                    <table class="table table-compact table-noborder">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Coin</th>
                                <th>Country</th>
                                <th>Currency</th>
                                <th>Rate</th>
                                <th>Payment Method</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="adverts">
                            <tr *ngFor="let advert of adverts">
                                <td>{{advert.owner}}</td>
                                <td>{{advert.crypto}}</td>
                                <td>{{advert.country}}</td>
                                <td>{{advert.fiat}}</td>
                                <td>{{advert.price}}</td>
                                <td>{{advert.payment}}</td>
                                <td>
                                    <button (click)="setVisible(advert)">disable</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="status == 'advertsDisable'">
                <div class="card-header">
                    Advertisement
                </div>
                <div class="card-block">
                    <table class="table table-compact table-noborder">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Coin</th>
                                <th>Country</th>
                                <th>Currency</th>
                                <th>Rate</th>
                                <th>Payment Method</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="adverts">
                            <tr *ngFor="let advert of adverts">
                                <td>{{advert.owner}}</td>
                                <td>{{advert.crypto}}</td>
                                <td>{{advert.country}}</td>
                                <td>{{advert.fiat}}</td>
                                <td>{{advert.price}}</td>
                                <td>{{advert.payment}}</td>
                                <td>
                                    <button (click)="setVisible(advert)">able</button>
                                    <button (click)="editAdvertisement(advert)">edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="status == 'advertsEdit'">
                <div class="card-header">
                    <label *ngIf="advertisementInfo.type == 1">Edit Sell Advertisement</label>
                    <label *ngIf="advertisementInfo.type == 0">Edit Buy Advertisement</label>
                </div>
                <div class="card-block">
                    <form [formGroup]="adform">
                        <section id="centre" class="form-block">
                            <div class="form-group">
                                <label>select a country</label>
                                <div class="select">
                                    <select [(ngModel)]="advertisementInfo.country" formControlName="country">
                                        <option value="singapore">Singapore</option>
                                        <option value="malaysia">Malaysia</option>
                                        <option value="thailand">Thailand</option>
                                        <option value="china">China</option>
                                        <option value="korea">Korea</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>select a crypto & fiat</label>
                                <div class="select">
                                    <select [(ngModel)]="advertisementInfo.crypto" (ngModelChange)="priceChange()" formControlName="crypto">
                                        <option value="BITCOIN">Bitcoin</option>
                                        <option value="ETHEREUM">Ethereum</option>
                                        <option value="RIPPLE">Ripple</option>
                                        <option value="MONERO">Monero</option>
                                        <option value="STELLAR">Stellar</option>
                                        <option value="CARDANO">Cardano</option>
                                        <option value="ZILLIQA">Zilliqa</option>
                                    </select>
                                </div>
                                <span>
                                    <b>&</b>
                                </span>
                                <div class="select">
                                    <select [(ngModel)]="advertisementInfo.fiat" (ngModelChange)="priceChange()" formControlName="fiat">
                                        <option value="SGD">SGD</option>
                                        <option value="CNY">CNY</option>
                                        <option value="THB">THB</option>
                                        <option value="MYR">MYR</option>
                                        <option value="USD">USD</option>
                                        <option value="KRW">KRW</option>
                                    </select>
                                </div>
                                <label style="margin-left: 3%">{{cryptoprice}}</label>
                                <input [(ngModel)]="advertisementInfo.price" formControlName="price" type="number">
                            </div>
                            <!-- <span class="alert-text" *ngIf="error"> 
                        Maximum value must be greater than minimum value！
                    </span> -->
                            <div class="form-group">
                                <label>price range</label>
                                <input [(ngModel)]="advertisementInfo.min_price" formControlName="min_price" name="min_price" type="number">
                                <span>
                                    <b>
                                        <</b>
                                </span>
                                <input [(ngModel)]="advertisementInfo.max_price" formControlName="max_price" name="max_price" type="number">
                            </div>
                            <div class="alert alert-danger alert-sm" [hidden]="advertisementInfo.max_price>=advertisementInfo.min_price">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="alert-text">
                                        Max_price must be greater than min_price value！
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>select the payment you want</label>
                                <clr-checkbox [(ngModel)]="payment.paypal" formControlName="payment" [clrChecked]="payment.paypal" [clrInline]="true">
                                    Paypal
                                </clr-checkbox>
                                <clr-checkbox [(ngModel)]="payment.bank" formControlName="payment" [clrChecked]="payment.bank" [clrInline]="true">
                                    Bank Card
                                </clr-checkbox>
                                <clr-checkbox [(ngModel)]="payment.alipay" formControlName="payment" [clrChecked]="payment.alipay" [clrInline]="true">
                                    Alipay
                                </clr-checkbox>
                                <clr-checkbox [(ngModel)]="payment.wechatPay" formControlName="payment" [clrChecked]="payment.wechatPay" [clrInline]="true">
                                    Wechat Pay
                                </clr-checkbox>
                            </div>
                            <div class="form-group" *ngIf="advertisementInfo.type == 1">
                                <label>set the time limit</label>
                                <input [(ngModel)]="advertisementInfo.limit" formControlName="limit" min="15" max="60" type="number">
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea [(ngModel)]="advertisementInfo.message" formControlName="message" rows="4"></textarea>
                            </div>
                            <hr class="hr2">
                            <button type="submit" class="btn btn-primary" [disabled]="!adform.valid || advertisementInfo.max_price<=advertisementInfo.min_price" (click)="editadv()">Edit</button>
                        </section>
                    </form>
                </div>
            </div>
            <div class="card" *ngIf="status == 'following'">
                <div class="card-header">
                    Following
                </div>
                <div class="card-block">
                    <table class="table table-compact table-noborder">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Trades</th>
                                <th>Following</th>
                                <th>Followers</th>
                                <th>Rating</th>
                                <th>Volume</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="profiles">
                            <tr *ngFor="let follow of profiles">
                                <td>{{follow.username}}</td>
                                <td>{{follow.orderCount}}</td>
                                <td>{{follow.following.length}}</td>
                                <td>{{follow.followers.length}}</td>
                                <td>{{follow.ratings}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="status == 'follower'">
                <div class="card-header">
                    Followers
                </div>
                <div class="card-block">
                    <table class="table table-compact table-noborder">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Trades</th>
                                <th>Following</th>
                                <th>Followers</th>
                                <th>Rating</th>
                                <th>Volume</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="profiles">
                            <tr *ngFor="let follow of profiles">
                                <td>{{follow.username}}</td>
                                <td>{{follow.orderCount}}</td>
                                <td>{{follow.following.length}}</td>
                                <td>{{follow.followers.length}}</td>
                                <td>{{follow.ratings}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="status == 'basicSettings'">
                <div class="card-header">
                    Basic Settings
                </div>
                <div class="card-block">
                    <div class="blank">
                        <ul class="list">
                            <li>
                                <clr-icon shape="user"></clr-icon>
                                Authentication
                                <button class="btn btn-outline" (click)="coinPassword()">
                                    <span>Debound</span>
                                </button>
                            </li>
                            <li>
                                <clr-icon shape="envelope"></clr-icon>
                                E-mail
                                <button class="btn btn-outline" (click)="email()">
                                    <span>Debound</span>
                                </button>
                            </li>
                            <li>
                                <clr-icon shape="mobile" class="is-solid"></clr-icon>
                                Phone Number
                                <button class="btn btn-outline" (click)="phone()">
                                    <span>Debound</span>
                                </button>
                            </li>
                            <li>
                                <clr-icon shape="clock" class="is-solid"></clr-icon>
                                Registration time
                                <span>--</span>
                            </li>
                            <li>
                                <clr-icon shape="clock"></clr-icon>
                                First trading time
                                <span>--</span>
                            </li>
                            <li>
                                <clr-icon shape="text"></clr-icon>
                                Language
                                <span>--</span>
                            </li>
                            <li>
                                <clr-icon shape="users"></clr-icon>
                                Number of trust
                                <span>--</span>
                            </li>
                            <li>
                                <clr-icon shape="copy"></clr-icon>
                                Accumulated transactions
                                <span>--</span>
                            </li>
                            <li>
                                <clr-icon shape="dollar"></clr-icon>
                                Accumulated trading volume
                                <span>--</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="status == 'securitySettings'">
                <div class="card-header">
                    Security Settings
                </div>
                <div class="card-block">
                    <div class="blank">
                        <ul class="list">
                            <li>
                                <clr-icon shape="shield-check"></clr-icon>
                                <b>Fund Password</b>
                                <small>To enter or modify security settings</small>
                                <button class="btn btn-outline" (click)="coinPassword()">
                                    <span>modify</span>
                                </button>
                            </li>
                            <li>
                                <clr-icon shape="envelope"></clr-icon>
                                <b>Binding Mailbox</b>
                                <small>Used to login, extract coins, modify security settings</small>
                                <button class="btn btn-outline" (click)="email()">
                                    <span>setting</span>
                                </button>
                            </li>
                            <li>
                                <clr-icon shape="mobile" class="is-solid"></clr-icon>
                                <b>Binding Phone</b>
                                <small>
                                    Withdrawal, password change, and security settings are used to receive verification SMS</small>
                                <button class="btn btn-outline" (click)="phone()">
                                    <span>modify</span>
                                </button>
                            </li>
                            <li>
                                <clr-icon shape="lock"></clr-icon>
                                <b>Login Password</b>
                                <small>Enter when logging in to your account</small>
                                <button class="btn btn-outline" (click)="login()">
                                    <span>modify</span>
                                </button>
                            </li>
                            <li>
                                <clr-icon shape="link"></clr-icon>
                                <b>Google Verification</b>
                                <small>After binding, Google secondary verification is required for login and withdrawal</small>
                                <button class="btn btn-outline">
                                    <span>Enable</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>