ul>li{
    margin-top: 20px
}

.list>li>button{
    float: right;
    width: 10%;
    position: relative;
    right: 10%;
}

.blank{
    margin-bottom: 2%;
}

b{
    font-size: 15px;
}

.list>li>span{
    float: right;
   margin-right: 20%
}
